<h1>Freight Finder</h1>
<div id="homepage">
    <h2>Find a Truck for the job!</h2>
    <form id='search' method="POST" action='/api/trucks'>
        <label>Enter your company name:</label>
        <input type="text" ref="name" placeholer="name" required />
        <label>Enter your truck capacity (lbs):</label>
        <input type="text" ref="capacity" placeholer="capacity" required />
        <label>Enter your truck location:</label>
        <input type="text" ref="location" placeholer="location" required />
        <label>Is your truck available?</label>
        <input type="text" ref="availability" placeholer="availability" required />
        <input type="submit" value="Add Truck" />
    </form>
    <div id="trucks"></div>
</div>