body{
    font-family: Raleway;
    color: rgb(36, 36, 36);
    background: #f8f8f8;
    margin: 10px 30px;
}
header{
    background-color: rgb(36, 36, 36);
    color: #ddd;
    font-size: 25px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    height: 40px;
    font-weight:600;
    margin-bottom: 20px;
}
#homepage{
    max-width: 700px;
    margin: 60px auto;
    padding: 10px 20px;
    background: #fdfdfd;
    border-radius: 5px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.2);
}
#home-wrapper-wrapper{
    background-image: url(./images/truck-landing-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
    display: flex;
    justify-content:left;
    border-radius: 5px;
    margin-top: 100px;
}
#coming-soon {
    align-content: center;
    display: flex;
    justify-content:left;
    border-radius: 5px;
    margin-top: 100px;
}
#home-wrapper {
    width: 850px;
    height: 700px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    opacity: .9;
}
#home{
    align-content: center;
    max-width: 800px;
    justify-content: center;
    font-weight: 600;
}
#problem{

}
#solution{

}
#problem-word{
    font-size: larger;
}
#solution-word{
    font-size: larger;
}
input[type="text"]{
    display: block;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
label{
    font-weight: bold;
}
.title{
    color: #fff;
    text-align: center;
    font-size: 48px;
}
#homepage h2{
    text-align: center;
}
form{
    max-width: 350px;
    margin: 30px auto;
}
input[type="submit"]{
    background: #555;
     color: #fff;
     border: 0;
     padding: 10px;
     font-size: 18px;
     width: 200px;
     margin: 0 auto;
     display: block;
     cursor: pointer;
     border-radius: 4px;
 }
ul{
    margin: 0;
    padding: 0;
}
#trucks {

    display: flex;
    flex-grow: 1;
    justify-content: center;
}

a{
    text-decoration: none;
    color: rgb(36, 36, 36)
}

a.options{
    color: #fff;
}

#options{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
#or{
    font-size: 30px;
    padding-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

li{
    width: 200px;
    padding: 15px 10px;
    background: #ff5f5f;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
}
#welcome{
    text-align: center;
    font-size: 50px;
}
#name{
    text-align: center;
    font-size: 45px;
}
button{
    float: right;
    background: green;
    border: 0;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}
button.false{display: none;}