<div id="home-wrapper-wrapper">
    <div id="home-wrapper">
        <div id="home">
            <h1 id="welcome">WELCOME TO</h1>
            <h2 id="name">Freight Finder</h2>
            <p id="problem"><span id="problem-word">Problem: </span>due to COVID-19, some industries have exploded while
                others have contracted. This has led to fluctuating shipping demands. Companies that have their own
                shipping
                fleets, yet were hit harder have extra freight trucks, while companies that have seen increased demand
                need
                more freight trucks than they have.</p>
            <p id="solution"><span id="solution-word">Solution: </span>Freight Finder. Freight Finder connects those
                with
                extra freight trucks to those that need them.
            </p>
            <p>You can either: </p>
            <div id="options">
                <a href="/trucks">
                    <li>
                        <p>Request a truck</p>
                    </li>
                </a>
                <p id="or">or</p>
                <a href="/requests">
                    <li>
                        <p>Register a Truck</p>
                    </li>
                </a>
            </div>
        </div>
    </div>
</div>