<a href="/">
    <h1>Freight Finder</h1>
</a>
<div id="homepage">
    <h2>Please Provide Information about your Truck</h2>
    <form id='search' method="POST" action='/trucks'>
        <label>Enter your company name:</label>
        <input type="text" name="company" placeholer="company" required />
        <label>Enter your truck capacity (lbs):</label>
        <input type="text" name="capacity" placeholer="capacity" required />
        <label>Enter your truck location:</label>
        <input type="text" name="location" placeholer="location" required />
        <input type="hidden" name="available" placeholer="available" value='true' required />
        <input type="submit" value="Add Truck" />
    </form>
</div>

<h2>Available Trucks</h2>
<div id="trucks">
    {{#each trucks}}
    {{#if available}}
    <a href="/trucks/{{_id}}" class="options">
        <li>
            <p><strong>Company: </strong>{{company}}</p>
            <p><strong>Capacity: </strong>{{capacity}}</p>
            <p><strong>Location: </strong>{{location}}</p>
        </li>
    </a>
    {{/if}}
    {{/each}}
</div>